body{
    height: auto;
}
p{
    color: #000;
    margin-top: 2%;
    text-align: center;
}
.block{
    width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
}
.accordian label{
    display: block;
    border-bottom: 1px solid rgb(65, 124, 134);
    cursor: pointer;
    color:white;
    padding: 10px;
    background-color: rgb(65, 109, 117);
}
.accordian p{
    color: #fff;
    padding: 20px;
    line-height: 30px;
    visibility: hidden;
    opacity: 0;
    display: none;
    text-align: left;
    background-color: #000;
    margin-top: 0;
}
#accordian1:checked ~ .single-text{
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}
#accordian1{
    display: none;
    position: relative;
}
#accordian2:checked ~ .single-text{
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}
#accordian2{
    display: none;
    position: relative;
}
#accordian3:checked ~ .single-text{
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}
#accordian3{
    display: none;
    position: relative;
}